body{
	font-family: 'Francois One', sans-serif;
	color: #fff;
	background-color: #61122f;
	font-size: 16px;
}
.navbar-brand a:hover{
	text-decoration: none;
}
.navbar-brand h1{
	margin-top: 20px;
	font-family: 'Luckiest Guy', cursive;
	text-transform: uppercase;
	word-spacing: 10px;
	letter-spacing: 2px;
	color: #61122f;
	line-height: 1.25;
}
.navbar-brand p{
	margin: center;
	font-size: 0.7em;
	color: #2f4f4f;
}
.navbar-brand p span{
	padding-left: 5px;
}
#header-nav{
	background-color: gray;
	border-radius: 0;
	border: 0;
}
.navi{
	padding: 15px
}
#logo-img{
	background: url('images/logo2.png') no-repeat;

	width: 150px;
	height: 150px;
	margin: 10px 15px 10px 0;
}
